/* .wk-table
{
  max-height: 450px; 
} */
.btn-primary-a {
  color: #fff;
  background-color: #46139f;
  border-color: #46139f;
}
.btn-primary-a:hover
{
  color: #46139f;
  background-color: transparent;
}

.btn-primary-b {
  color: #fff;
  background-color: #ff7f50;
  border-color: #ff7f50;

}
.btn-primary-b:hover 
{
  background-color: transparent;
  color: #ff7f50;
}
.search-input{
  gap: 10px;
}
.search-input input 
{
  border-color: #ccc;
}
.modal.show {
    opacity: 1;
    display: block;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;opacity: 0;
}
.modal-backdrop.show {
    opacity: .5;
}
.mw-150{
    min-width: 150px;
}
.mw-200{
  min-width: 200px;
}
.cursor-pointer{
  cursor: pointer;
}
.wk-table .table thead th {
  border-bottom: none;
  background: #eee;
}